.movingList {
    display: grid;
    margin-top: 0px;

    a {
        text-decoration: none;
        color: black;
        font-size: 1.2em;
        padding: 20px;
        width: 80vw;
        border: 2px solid black;
        border-radius: 5px;
        margin: 5px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.8);

    }
}